<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Blogs</title>
    <link rel="shortcut icon" href="/images/favicon1.png" type="image/x-icon">
   </head>
<body>
    <%- include("partials/header") %>

    <section class="section" style="margin: 7vh 3vh 2vh 3vh">
        <div class="container">
             <h1>Compose</h1>

             <div class="container">
                <div class="form-control">
        <form action="" method="post">
            
            <label for="postTitle">Title</label>
            <input required minlength="10" type="text" name="postTitle" id="postTitle" placeholder="Title Of Post" class="form-input">

            <label for="postBody">Post</label>
            <textarea required minlength="150" name="postBody" cols="30" rows="5" class="form-input" placeholder="Start Writting Here" id="postBody"></textarea>
            </div>
            <button type="submit" class="btn form-btn sign-up-btn" style="margin: 2vh;">Publish</button>
        </form>
        </div>
             </div>
    
    </section>

    <%- include("partials/footer") %>
</body>
</html>