<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpha Blogs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
<body>
    <%- include("partials/header") %>

    <section class="section" style="margin-top: 10vh">
        <div class="container">
             <h1 >Compose</h1>

    <div class="form-group">
        <form action="" method="post">
            
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" id="postTitle" placeholder="Title Of Post" class="form-control">
            
            <label for="readTime">Read time (in minutes)</label>
            <input type="text" name="readTime" id="readTime" placeholder="Estimated time to read this post" class="form-control">

            <label for="postBody">Post</label>
            <textarea name="postBody" cols="30" rows="5" class="form-control" placeholder="Start Writting Here" id="postBody"></textarea>
            </div>
            <button type="submit" class="btn btn-primary " >Publish</button>
        </form>
        </div>
    </section>

   
        
    

    <%- include("partials/footer") %>
</body>
</html>