<%- include("partials/header") %>

<body>

    <section class="section" style="margin-top: 5vh;">
        <div class="container">
             <h1>Contact Us</h1>
    <h2>Developers Information Here...</h2>
        </div>
    </section>
   
</body>

<%- include("partials/footer") %>