<%- include("partials/header") %>

<body>

    <section class="section" style="margin: 7vh 3vh 2vh 3vh">
        <div class="container">
            <h1>Contact Us</h1>
    
            <div class="container">
                <ul class="list social-media">
                    <li class="list-item">
                        <a class="btn place-items-center" id="user-icon" href="https://github.com/DrasticCoder"  onclick="window.open('https://github.com/pranavdhawale')" >
                            <i class="ri-github-fill"></i>
                        </a>                    
                    </li>
                    <li class="list-item">
                        <button class="btn place-items-center" onclick="location.href='mailto:pranavdhawale19@gmail.com,deepbansode@duck.com?subject=Just here to say HII!&body=I stumbled here from your website - Alpha Blogs, :P'" id="user-icon">
                            <i class="ri-mail-check-line"></i>
                        </button>
                    </li>
                    <li class="list-item">
                        <a class="btn place-items-center" id="user-icon" href="https://www.linkedin.com/in/deep-bansode-467085212/"  onclick="window.open('https://www.linkedin.com/in/pranav-dhawale-324452212/')" >
                            <i class="ri-linkedin-box-fill"></i>
                        </a>
                    </li>
                    <li class="list-item">
                        <a class="btn place-items-center" id="user-icon" href="https://twitter.com/drasticcoder"  onclick="window.open('https://twitter.com/intent/follow?original_referer=https%3A%2F%2Fgithub.com%2Fpranavdhawale19&screen_name=pranavdhawale19')" >
                            <i class="ri-twitter-line"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
    </section>
   
</body>

<%- include("partials/footer") %>