<%- include("partials/header") %>

<body>
    <h1>Home</h1>
    <p>
        <%= homeStartingContent %>
    </p>

    <section class="section">
        <div class="container">
             <h1>Contact Us</h1>
    <h2>Developers Information Here...</h2>
        </div>
    </section>
   
</body>

<%- include("partials/footer") %>